<!-- isLoading tracks whether or not the response has been received -->
<ion-content *ngIf="!isLoading; else loading">
  <h1 class="ion-padding">{{ recipeDetails.title }}</h1>
  <div id="container" class="ion-padding">
      <div id="details">
        <div id="ingredients">
          <h3>Ingredients</h3>
          <ion-list [inset]="true">
            <ion-item *ngFor="let ingredient of recipeDetails.extendedIngredients">
              <ion-label>
                <!-- Shorthand check changes unit amount depending on user preference -->
                {{ unitPreference === "Metric" ? ingredient.measures.metric.amount : ingredient.measures.us.amount }}
                {{ unitPreference === 'Metric' ? ingredient.measures.metric.unitShort : ingredient.measures.us.unitShort }} -
                {{ ingredient.name }}
              </ion-label>
            </ion-item>
          </ion-list>
        </div>
        <div id="instructions">
          <h3>Instructions</h3>
          <ion-accordion-group expand="inset">
            <ion-accordion *ngFor="let recipeStep of recipeDetails.analyzedInstructions[0].steps">
              <ion-item slot="header">
                <ion-label>Step {{ recipeStep.number }}</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">{{ recipeStep.step }}</div>
            </ion-accordion>
          </ion-accordion-group>
        </div>
      </div>
    <div id="sidebar">
      <img [src]="recipeDetails.image" alt="Image of {{ recipeDetails.title }}" />
      <!-- This nested disaster generates the boxes containing further recipe info -->
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card>
              <ion-card-header>
                Preparation time:
              </ion-card-header>
              <ion-card-content>
                {{ recipeDetails.preparationMinutes }} minutes
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card>
              <ion-card-header>
                Cooking time:
              </ion-card-header>
              <ion-card-content>
                {{ recipeDetails.cookingMinutes }} minutes
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card>
              <ion-card-header>
                Servings:
              </ion-card-header>
              <ion-card-content>
                {{ recipeDetails.servings }}
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card>
              <ion-card-header>
                Link to original recipe
              </ion-card-header>
              <ion-card-content>
                <a [href]="recipeDetails.sourceUrl" target="_blank" rel="noopener">View Recipe</a>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

</ion-content>
<ng-template #loading>
  <ion-spinner />
</ng-template>
