#container {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

#container > *:not(#sidebar) {
  flex: 1;
}
#details {
  display: flex;
  gap: 1rem;
}

#details > div {
  flex: 1;
}

h3 {
  text-align: center;
}

#sidebar {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  h1 {
    text-align: center;
  }

  #container {
    flex-direction: column;
    width: 100%;
  }

  #sidebar {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  #details {
    display: block;
    width: 100%;
  }
}

@media (max-width: 1024px) {
  #details {
    flex-direction: column;
  }
}
